body{
  background-color:rgb(172, 48, 48);
}

#imagemsite {
    width: 100%;
    
}


h1{
    color:lightcoral;
    text-align: center;
    font-size: 50px;
}

.principal {
    background: white;
    font-size: 30px;

} 
