body{
  background-color:rgb(172, 48, 48);
}

#imagemsite {
    height: 20%;
    width: 100%;
    padding: 1px;
    margin:5px;
    border: 3px solid;
    margin-left: 35%;
    }


h1{
    color:lightcoral;
    text-align: center;
    font-size: 50px;
}

.principal {
    background: white;
    font-size: 30px;

} 
