body{
  background-color:aliceblue;
}

#imagemsite {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}


h1{
    color:red;
    text-align: center;
    font-size: 50px;
}

.principal {
    background: white;
    font-size: 30px;

} 
